.idea
*.log
.DS_Store
# build files
build/
lib/
release/
debug/

macOS/StellarEngine.app/Contents/Frameworks/*
macOS/StellarEngine.app/Contents/MacOS/*

# precompiled headers
*.gch
*h.d

# imgui
imgui_log.txt
imgui.ini

#xcode
project.xcworkspace/
xcuserdata/